<%- include ("header.ejs") %>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/muse.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Ugo's Blog</h1>
            <span class="subheading">A collection of my random musings. </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class=" container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% if(posts) {%>
          <% posts.forEach(post=> { %>
            <div class="post-plus-rule">
              <div class="post-preview">
                <a href="/post?postId=<%= post.id %>">
                  <h2 class="post-title">
                    <%= post.title %>
                  </h2>
                  <h3 class="post-subtitle">
                    <%=post.subtitle%>
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="">
                    <%= post.author.name %>
                  </a>
                  on
                  <%=post.date %>
                    <% if (isAdmin) { %>
                      <a type="btn" onclick="askDelete(this)">✘</a>
                      <% } %>
                        <input type="hidden" value="<%= post.id %>" name="hiddenPostId">
                </p>
              </div>
              <hr>
            </div>

            <%}); %>
              <%} %>

                <!-- New Post -->
                <% if (isAdmin) { %>
                  <div class="clearfix">
                    <a class="btn btn-primary float-right" href="/new-post">Create New Post</a>
                  </div>
                  <%}%>

      </div>
    </div>
  </div>
  <hr>
  <%- include ("footer.ejs") %>